html {
  font-size: 10px;
  background: url('./background.jpg') bottom center;
  background-size: cover;
  /* background-color: var(--main--raisinBlack); */
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --main--raisinBlack: #232020;
  --main-darkOrange: #fb8b24;
}

.keys {
  display: grid;
  grid-template: auto auto auto / auto auto auto;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.key {
  border: .4rem solid white;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: var(--main--raisinBlack);
}

.playing {
  transform: scale(1.1);
  border-color: var(--main-darkOrange);
  box-shadow: 0 0 1rem var(--main-darkOrange);
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--main-darkOrange);
}
